


:root{
    --theme-color: #311852;
    --theme-one: #ff7a1f;
    --theme-two: #99754566;
    --primary-color: #4d36dc;
    --section-bg: #231d70;
    --section-bg-two: #fff9f5;
    --button-color: #ff7a1f;
    --secoundary-color: #4d36dc;
    --secoundary-one: #2f16;
    --white-color: #fff;
    --black-color: #16182b;
    --ratting-color: #ffd247;
    --pragraph-color: #311852;
    --box-bg: #242471;
    --box-bg-two:#fff5f0;
    --border-color: #a2a6c7;
    --radius: #3e3ec9;
    --border: #d8dae8;
    --border-two: #7760a5;
    --border-three: #f6eeff;
    --placehol: #b0bcde;
}